.sipcalculator form{
    /* display: grid; */
    width: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 52px;
}

#years{
    width: 210px;
    height: 34px;
}
#returnRate{
    width: 50px;
    border:0;
}
.displayestimateamt{
    margin: 0;
}
.envestedamt input{
    pointer-events: none; /* Disables interaction */
  border: 0;
}
.displayamt input{
    pointer-events: none;
    border: 0;
}
.monthlyamt span{
    font-size: 10px;
    color: red;
}
#form-newreturnbox{
    border: 0;
}