.icon-hero-footer-logo{
    height: 42px;
    width: 130px;
}
.footer-wrapper{
    background-color: #000;
    padding: 40px 20px;
    font-family: 'Arial', sans-serif;
}
.footer-top ul li .button-container a {
  font-weight: bold;
  font-size: 14px;
  color: #cce0ff;
  margin-bottom: 10px;
  text-transform: uppercase;
  background-color:transparent;
  padding:0;
}

.footer-top ul {
  list-style: none;
  padding: 0;
}
.footer-top ul li {
  margin-bottom: 8px;
}
.footer-top ul li a{
  color: white;
}

.footer-top > div > div{
  max-width: 1200px;
  margin: auto;
   display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 30px;
}
.footer-middel >div>div>p{
    display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  margin: 30px 0;
  padding-bottom: 30px;
  border-bottom: 2px solid gray;
}

.footer-last >div>div>ul{
    text-align: center;
  font-size: 12px;
  margin: 20px 0;
  list-style: none;
  color: white;
  display: flex;
  padding: 0;

}
.footer-last >div>div>ul li {
    border-right: 1px solid gray;
}
.footer-last >div>div>ul li a{
    color:white;
  text-decoration: none;
  margin: 0 5px;
  font-size: 15px;
}
.footer-last >div>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.footer-last >div>div p{
    color: white;
}