.footer-wrapper{
    background-color: #000;
  color: #fff;
  padding: 40px 20px;
  font-family: 'Arial', sans-serif;
}
.hero-footer-logo{
   display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}